<h1 mat-dialog-title>Request</h1>

<form [formGroup]="ReqForm">
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <input matInput [max]="maxDate" [matDatepicker]="start" placeholder="Choose a starting date"
                    formControlName="from" readonly (click)="start.open()">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>

                <mat-error *ngIf="from.hasError('required')">
                    Starting date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput [max]="maxDate" [matDatepicker]="end" placeholder="Choose an end date"
                    formControlName="to" readonly (click)="end.open()">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>

                <mat-error *ngIf="to.hasError('required')">
                    End date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label>Leave Type</label>
            <select class="form-control" formControlName="selectedLType">
                <option *ngFor="let key of keys" [value]="key" [label]="LTypes[key]"></option>
            </select>
        </div>
        <div [hidden]="ReqForm.valid" style="color: red">*All fields are required</div>
    </div>

    <div mat-dialog-actions align='end'>
        <div class="btn-group">
            <button mat-raised-button matDialogClose class="btn btn-danger">Cancel</button>
            <input mat-raised-button type="button" class="btn btn-success" value="Submit" (click)="onSubmitClick()"
                [disabled]="!ReqForm.valid">
        </div>
    </div>

</form>