td i {
  cursor: pointer;
}

.my-custom-scrollbar {
  height: 250px;
  overflow: auto;
  overflow-x: scroll;
}

.table-wrapper-scroll-y {
  display: block;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  height: 50%;
  align-items: center;
  margin: auto;
}

td, th {
  text-align: center;
  vertical-align: middle;
  width: 25%;
  padding: 15px;
}