<div>
  <p>
    <a [routerLink]="['/profile/newrequest']">Create a request</a>
  </p>

  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped" style=" text-align: center">

      <thead>
        <tr>
          <th>Leave Type</th>
          <th>From</th>
          <th>To</th>
          <th>Status</th>
          <th> </th>
        </tr>
      </thead>
      <tbody style="color: black">
        <tr *ngFor="let request of myReqList">
          <td>{{request.leaveType }}</td>
          <td>{{request.from}}</td>
          <td>{{request.to}}</td>
          <td>
            <p [ngStyle]="getstyle(request)">{{request.reqState}}</p>
          </td>
          <td>
            <i class="fa fa-trash" (click)="removeReq(request.reqId)" [hidden]=canRemove(request.reqState)></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>